* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 5rem 0;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div fieldset {
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div fieldset label {
    margin-left: 1rem;
    font-size: 1.1rem;
}

div fieldset input {
    width: 60%;
    height: 2.5rem;
    margin: 1rem 0;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    outline: none;
    border-radius: 5px;
    margin-right: 2rem;
}

@media (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }

    div fieldset input {
        width: 70%;
        height: 3rem;
    }

    div fieldset label {
        margin-left: 2rem;
        font-size: 1.3rem;
    }
}

@media (min-width: 1100px) {
    h1 {
        font-size: 4rem;
    }

    div fieldset {
        width: 50%;
    }

    div fieldset label {
        margin-left: 0;
        font-size: 1.4rem;
    }
}